<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz: El juego de preguntas</h1>
    <br/><%=respuesta%>
   <br/><a href="/quizes/question"> Intentalo otra vez</a>
   </form>
  </body>
</html>
