

    <p>Pregunta:<%=pregunta%></p>
    <br/><form action="/quizes/answer" method="get">
	 <input type="hidden" name="tipopregunta" value="2"/>
   <input type="text" name="respuesta" value=""/>
	 <input type="submit" value="Enviar"/><br/>
   </form>
