<form action="/quizes/<%=quiz.id%>/answer" method="get">
<p>Pregunta de <%=quiz.tema %>: <%=quiz.pregunta%></p>
<input type="text" name="respuesta" value=""/>
<input type="submit" value="Enviar"/><br/>
</form>
