<h2>Login</h2>
<form action="/login" method="post" >

<div class="field">
  <label for="preg" class="rem">Login:</label>
  <input type="text" id="login" name="login" value=""/><p>
</div>

<div class="field">
  <label for="resp" class="rem">Password:</label>
  <input type="password" id="password" name="password"/> <p>
</div>

<div class="actions">
  <input type="submit" value="Login">
</div>

</form>
